$whiteColor: #ffffff;
$lightGreyColor: #f7f7f7;
$lightBlueColor: #e5e5ff;
$greenColor: #198c19;
$lightGreenColor: #7fbf7f;
$lightOrangeColor: #ffae19;
$orangeColor: #bd3a00;
$redColor: #e50000;
$lightRedColor: #ff9999;
$darkGreyColor: #9198a0;
$lightBlackColor: #3d3d3d;
$blackColor: #3c3c3c;

$regularFont: 'Roboto', sans-serif;
$logoFont: 'Gloria Hallelujah', cursive;
